<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="UserMapper">
    <select id="findAccountsById" resultType="com.magic.springboot.com.magic.springboot.dto.model.User">
        <![CDATA[
            select  id as id,
			    username as username,
			    password as password,
			    money as money
			 from mag_user
			 where
			    id >= #{id}
        ]]>
    </select>
    <select id="getAccountById" parameterType="int"
            resultType="com.magic.springboot.com.magic.springboot.dto.model.User">
        <![CDATA[
            select  id as id,username as username,password as password,money as money
			 from mag_user
			 where
                id = #{id}
        ]]>
    </select>
    <insert id="insertAccount" parameterType="com.magic.springboot.com.magic.springboot.dto.model.User"
            keyColumn="`id`" keyProperty="`id`" useGeneratedKeys="true">
        insert into mag_user (username,password,money) values (#{name},#{password},#{money})
    </insert>
</mapper>