<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-with-druid:war">
    <output-path>$PROJECT_DIR$/spring-boot-with-druid/target</output-path>
    <root id="archive" name="spring-boot-with-druid-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-boot-with-druid:war exploded" />
    </root>
  </artifact>
</component>